<div class="notes-list-container p-3">

  <div class="row">
    <div class="col-md-12 col-12">
        <input
        matInput
        type="text"
        placeholder="Filter">
    </div>
  </div>
    <div class="note-card-list mt-3">
      <app-note-card title="Testing one two three" body="Testing body text one two"></app-note-card>
      <app-note-card title="Testing one two three" body="Testing body text one two"></app-note-card>
      <app-note-card title="Testing one two three" body="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut enim consequatur nemo laborum voluptates nisi iste dolores suscipit dolorum quas ipsum, voluptas labore blanditiis quae, facere porro nostrum! Expedita, optio? voluptates nisi iste dolores suscipit dolorum quas ipsum, voluptas labore blanditiis quae, facere p">
      </app-note-card>
    </div>

</div>
