.notes-list-container {
  display: flex;
  flex-direction: column;
  max-width: 24rem;
  margin: auto;
}

input {
  outline: none;
  width: 22rem;
  border: 1px solid lightgrey;
  padding: 5px 5px 5px 10px;
  border-radius: 3px;
  background-color: #f7f7f7;
}

button {
  width: 22rem;
  outline: none;
}
